#root{
  --Orange-main: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White-main: hsl(0, 0%, 100%);
  --Black-main: hsl(0, 0%, 0%); 
}

main{
  min-width: 100vw;
  min-height: 100vh;
  background: var(--White-main);
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  font-size: 16px;
}