.contentCart{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contentCart .cart{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
}
.cart .countCart{
    position: absolute;
    top: -7px;
    right: -5px;
    font-size: 14px;
    color: var(--White-main);
    background: var( --Orange-main);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentCart .avatarImg{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
}
.avatarImg:hover{
    border: 2px solid var(--Orange-main);
}
.iconCart{
    cursor: pointer;
}

