.contentShopping{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 1100px){
    .contentShopping{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        padding: 0;
    }
 }